@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');


h1{
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #49E399;
}

.panel{
    margin-top: 300px;
}
.panel-success{
    font-size: 20px;
}
