<table class="table table-hover ">
  <thead>
    <tr>
      <th style="width: 10%" class="text-center">Date</th>
      <th style="text-align: center;"> Task Name</th>
      <th style="width: 15%" class="text-center">Status</th>
      <th style="width: 15%">Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of data">
      <tr *ngIf="!idEdit || idEdit !== item.date">
        <td class="text-center">{{ item.date }}</td>
        <td style="text-align: center;">{{ item.name }}</td>
        <td class="text-center">
          <!-- <span *ngIf="item.level === '0'" class="label label-default">Small</span> -->
          <span *ngIf="item.level === '1'" class="label label-info">Active</span>
          <span *ngIf="item.level === '2'" class="label label-danger">Inactive</span>
      </td>
        <td>
          <button (click)="clickEdit(item)" type="button" class="btn btn-warning btn-sm">Edit</button>
          <button (click)="deleteTask.emit(item.id)"  type="button" class="btn btn-danger btn-sm">Delete</button>
        </td>
      </tr>
      
      <tr *ngIf="idEdit && idEdit == item.id">
          <!-- <app-edit
            [data]="dataEdit || {}"
          ></app-edit> -->
          <td class="text-center">{{ item.id }}</td>
          <td>
            <input name="name" [(ngModel)]="dataEdit.name" type="text" class="form-control">
          </td>
          <td class="text-center">
            <select [(ngModel)]="dataEdit.level" class="form-control">
              <!-- <option value="0">Small</option> -->
              <option value="1">Active</option>
              <option value="2">Inactive</option>
            </select>
          </td>
          <td>
            <button (click)="idEdit = null" type="button" class="btn btn-default btn-sm">Cancel</button>
            <button [disabled]="dataEdit.name.length === 0" (click)="editSubmit()" type="button" class="btn btn-success btn-sm">Save</button>
          </td>
      </tr>

    </ng-container>
  </tbody>
</table>